In [1]:
import os
from typing import List
from pathlib import Path
import pandas as pd
ROOT_DIR : str = Path(os.getcwd())
DATA_DIR : str = ROOT_DIR/"data"

In [2]:
def create_folder(path:str)->None:
    if not os.path.exists(path): 
        os.makedirs(path)
def get_subdirectories(parent_directory:str)->List[str]:
    subdirectories = []
    for item in os.listdir(parent_directory):
        item_path = os.path.join(parent_directory, item)
        subdirectories.append(item_path)
    return subdirectories

In [3]:
def load_files()->pd.DataFrame:
    list_of_files : List[pd.DataFrame] = []
    list_of_dirs = get_subdirectories(DATA_DIR)
    for item in list_of_dirs:
        list_of_files.append(pd.read_parquet(item))
    return pd.concat(list_of_files)

In [4]:
df_sih: pd.DataFrame = load_files()

In [5]:
df_sih.columns

Index(['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT',
       'CEP', 'MUNIC_RES', 'NASC',
       ...
       'DIAGSEC9', 'TPDISEC1', 'TPDISEC2', 'TPDISEC3', 'TPDISEC4', 'TPDISEC5',
       'TPDISEC6', 'TPDISEC7', 'TPDISEC8', 'TPDISEC9'],
      dtype='object', length=113)

In [13]:
# Vai ter que carregar uma tabela com a referência SID-10
colunas_selecionadas : List[str] = [
    'N_AIH',
    'UF_ZI',
    'ANO_CMPT',
    'MES_CMPT',
    'DIAG_PRINC',
    'IDENT',
    'CEP',
    'MUNIC_RES',
    'VAL_SH',
    'NASC',
    'SEXO',
    'QT_DIARIAS',
    'VAL_TOT',
    'DIAS_PERM',
    'CID_NOTIF'

]

In [14]:
df_sih_sel = df_sih[colunas_selecionadas]
df_sih_sel

,N_AIH,UF_ZI,ANO_CMPT,MES_CMPT,DIAG_PRINC,IDENT,CEP,MUNIC_RES,VAL_SH,NASC,SEXO,QT_DIARIAS,VAL_TOT,DIAS_PERM,CID_NOTIF
0,4315103009712,430000,2015,07,O908,1,95625000,431033,799.18,19830427,3,17,848.68,17,
1,4315103011010,430000,2015,07,O829,1,96270000,431250,411.68,19820828,3,2,678.11,2,
2,4315103012220,430000,2015,07,O459,1,95520000,431350,419.68,19850307,3,3,696.11,3,
3,4315103013749,430000,2015,07,O809,1,95520000,431350,283.60,19981010,3,2,524.60,2,
4,4315103019656,430000,2015,07,Z302,1,95560000,432150,411.68,19871006,3,2,688.11,2,Z302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58789,4315100451354,432280,2015,02,J189,1,95330000,432280,535.82,19541206,3,7,614.17,7,
58790,4315100451365,432280,2015,02,J189,1,95330000,432280,516.77,19970912,3,2,595.12,2,
58791,4315101195075,432280,2015,02,D539,1,95333000,430786,200.91,19291218,1,3,233.85,3,
58792,4315100451376,432280,2015,02,J189,1,95330000,432280,516.77,19540127,3,3,595.12,3,
58793,4315100451387,432280,2015,02,I64,1,95330000,432280,632.68,19300408,1,3,697.06,3,

Empty DataFrame
Columns: [UF_ZI, ANO_CMPT, MES_CMPT, DIAG_PRINC, IDENT, CEP, MUNIC_RES, VAL_SH, NASC, SEXO, QT_DIARIAS, VAL_TOT, DIAS_PERM, CID_NOTIF]
Index: []